.ribbon {
    position: absolute;
    padding: 0 10px;
    color: #fff;
    right: 0;
    min-height: 22px;
    z-index: 1;
    top: 10px;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        border-width: 11px 0 11px 10px;
        border-style: solid;
        left: -10px;
    }
    & + & {
        top: 45px;
    }
}



.sale-ribbon {
    background: $success;

    &::before {
        border-color: $success $success $success transparent;
    }
}

.feature-ribbon {
    background: $danger;

    &::before {
        border-color: $danger $danger $danger transparent;
    }
}